.results-item {
  display: block;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  margin: 0.3rem 0;
  white-space: nowrap;

  &:hover {
    background-color: lighten($color: #2897C5, $amount: 40%);
    border: 1px solid lighten($color: #2897C5, $amount: 20%);
  }
}

.results-item__img {
  height: 8rem;
  width: 8rem;
  border-radius: 0.4rem;
}

.results-item__info {
  display: inline-block;
  width: calc(100% - 9.7rem);
  margin-left: 1.7rem;
  vertical-align: top;
}

.results-item__name {
  line-height: 1.9rem;
  font-size: 1.6rem;
  @include overflow-ellipses;
}

.results-item__line {
  margin-top: 0.7rem;
}

.results-item__rating {
  color: #FFAB66;
  line-height: 2rem;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.8rem;
}

.results-item__review-count {
  vertical-align: middle;
  color: rgba(112,112,112,0.6);
  font-size: 1.4rem;
  margin-left: 0.8rem;
  font-weight: 300;
}

.results-item__description {
  color: rgba(112,112,112,0.6);
  font-size: 1.4rem;
  font-weight: 300;
  @include overflow-ellipses;
}