.sidebar--open {
  transform: translateX(0%);

  @include phone {
    & + .results .results-item {
      cursor: default;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
    }
  }
}