/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

html {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif; }

body {
  background-image: url("./resources/graphics/background.png");
  background-attachment: fixed;
  overflow-y: auto; }

button {
  border: none;
  background-color: transparent; }

a {
  color: unset;
  text-decoration: none; }

.header {
  background: #1C688E;
  width: 100%;
  height: 8.3rem;
  padding: 2.2rem 2.5rem;
  z-index: 20; }

.header__input {
  width: 100%;
  height: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 0.3rem;
  font-size: 15px;
  color: #666;
  padding: 1.3rem;
  font-weight: 100;
  vertical-align: middle; }
  @media (max-width: 867px) {
    .header__input {
      width: calc(100% - 4.3rem); } }
  .header__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #B3B3B3; }
  .header__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #B3B3B3; }
  .header__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #B3B3B3; }
  .header__input:-moz-placeholder {
    /* Firefox 18- */
    color: #B3B3B3; }

.view {
  position: relative;
  max-width: 82rem;
  width: 100%;
  margin: 5rem auto;
  background-color: white;
  min-height: 80vh;
  box-shadow: 0 0.4rem 1.8rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 867px) {
    .view {
      max-width: unset;
      margin: 0rem;
      min-height: 100vh; } }

.content {
  position: relative;
  min-height: calc(80vh - 8.3rem);
  width: 100%; }

.sidebar {
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  width: 20.7rem;
  border-right: 1px solid #E6E6E6;
  overflow: hidden;
  padding: 3rem 2.3rem;
  background-color: white; }
  @media (min-width: 1024px) {
    .sidebar:hover {
      overflow-y: auto;
      padding-right: 1.1rem; }
      .sidebar:hover::-webkit-scrollbar {
        position: absolute;
        width: 1.2rem; }
      .sidebar:hover::-webkit-scrollbar-track {
        border-radius: 1.2rem;
        background-color: transparent;
        -webkit-box-shadow: inset 0 0 0 0.3rem white; }
      .sidebar:hover::-webkit-scrollbar-thumb {
        border: 0.3rem solid white;
        border-radius: 0.6rem;
        background-color: #D9D9DE; } }
  @media (max-width: 867px) {
    .sidebar {
      position: absolute;
      top: -8.3rem;
      height: 100vh;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
      transition: transform 200ms ease;
      transform: translateX(-100%);
      overflow-y: scroll;
      z-index: 20; } }
  @media (min-width: 868px) and (max-width: 1023px) {
    .sidebar {
      overflow-y: scroll; } }

@media (min-width: 1024px) {
  .sidebar-section__list {
    cursor: pointer; } }

.sidebar-section {
  margin-bottom: 2.3rem; }

.sidebar-section__heading {
  line-height: 1.7rem;
  font-size: 1.4rem;
  color: #333;
  font-weight: 300;
  margin-bottom: 0.9rem; }

.sidebar-section-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1.4rem 0.2rem 1.1rem;
  border-radius: 0.3rem;
  width: 16rem;
  margin: 0.1rem 0; }
  .sidebar-section-item:hover {
    background-color: #c6e6f3; }
  .sidebar-section-item--selected {
    background-color: #2897C5 !important; }
    .sidebar-section-item--selected span {
      color: white; }
  @media (min-width: 868px) and (max-width: 1023px) {
    .sidebar-section-item {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
      .sidebar-section-item:hover {
        background-color: transparent; } }
  @media (max-width: 867px) {
    .sidebar-section-item {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
      .sidebar-section-item:hover {
        background-color: transparent; } }

.sidebar-section-item__type {
  font-size: 1.3rem; }

.sidebar-section-item__count {
  font-size: 1.3rem;
  color: #9a9a9a;
  font-weight: 300; }

.star-rating {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 8.2rem; }

.stars {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 8.1rem;
  background-size: 8.2rem;
  background-image: url("./resources/graphics/stars-icons.png");
  background-repeat: no-repeat;
  height: 1.5rem; }

.stars--empty {
  z-index: 0; }

.stars--active {
  z-index: 1;
  background-position-y: -1.6rem; }

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2.4rem 1.7rem 23.1rem;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(80vh - 8.3rem); }
  @media (max-width: 867px) {
    .results {
      padding-left: 2.4rem; } }

.results__info {
  display: inline-block;
  height: 1.7rem;
  line-height: 1.7rem;
  color: #333;
  background-color: white;
  padding-right: 2rem;
  padding-left: 0.8rem;
  z-index: 1; }

.results__count {
  font-size: 1.4rem; }

.results__speed {
  font-size: 1.2rem; }

.results__list {
  padding: 1.2rem 0;
  margin-top: -1px;
  border-top: 1px solid #e6e6e6;
  z-index: 0; }

.results__expand-btn {
  position: relative;
  left: -0.5rem;
  display: block;
  margin: 0 auto;
  width: 18.4rem;
  height: 3.7rem;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 0.4rem;
  line-height: 1.7rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5); }
  .results__expand-btn:active {
    box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1); }

.results-item {
  display: block;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  margin: 0.3rem 0;
  white-space: nowrap; }
  .results-item:hover, .results-item:focus {
    background-color: #c6e6f3;
    border: 1px solid #71c1e2; }
  @media (max-width: 867px) {
    .results-item:hover, .results-item:focus {
      background-color: unset;
      border: 1px solid transparent; } }

.results-item__img {
  height: 8rem;
  width: 8rem;
  border-radius: 0.4rem; }

.results-item__info {
  display: inline-block;
  width: calc(100% - 9.7rem);
  margin-left: 1.7rem;
  vertical-align: top; }

.results-item__name {
  line-height: 1.9rem;
  font-size: 1.6rem;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden; }

.results-item__line {
  margin-top: 0.7rem; }

.results-item__rating {
  color: #FFAB66;
  line-height: 2rem;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.8rem; }

.results-item__review-count {
  vertical-align: middle;
  color: rgba(112, 112, 112, 0.6);
  font-size: 1.4rem;
  margin-left: 0.8rem;
  font-weight: 300; }

.results-item__description {
  color: rgba(112, 112, 112, 0.6);
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden; }

.menu-button {
  display: none;
  padding: 0rem;
  vertical-align: middle;
  text-align: left;
  margin-left: -0.7rem;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem; }
  @media (max-width: 867px) {
    .menu-button {
      display: inline-block; } }

.menu-button__svg {
  margin-top: -0.3rem;
  fill: white; }

.sidebar--open {
  transform: translateX(0%); }
  @media (max-width: 867px) {
    .sidebar--open + .results .results-item {
      cursor: default;
      -webkit-tap-highlight-color: transparent;
      -webkit-tap-highlight-color: transparent; } }
